<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Are you ready for color?</title>
  <link rel="stylesheet" href="/static/css/css_intro.css">
</head>
<body>
  <h1>Oh, let's do it with style</h1>
  <p>This is going to include class and ID distinction for HTML attributes. I know that this can be triggering for some people. Just bear with me. We will get out of this together</p>
  <footer>
    <p><a href="/self-learning-webdev" target="_self" rel="noopener noreferrer">Return to Learning WebDev</a></p>
    <small>Last updated: {{ last_updated }}</small>
  </footer>
</body>
</html>
