<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>A place of wonder...ing</title>
</head>
<body>
  <h1>Hi! You arrived sooner than I expected :/</h1>
  <p>I'm building the site, so this is currently under construction.</p>
  <p>Anyways, I'd like to minimally share something, since you made it this far:</p>
  <ul>
    <li>Maybe my LinkedIn? (if you are here, you probably already have it):
        <a href="https://www.linkedin.com/in/garciahahn" target="_blank" style="text-decoration: none; color: #0077b5;">
          <i class="fab fa-linkedin"></i> Julian Garcia Hahn
        </a>
    </li>
    <li>
      Maybe a video of a <a href="https://youtu.be/8OgOlPVso8w" target="_blank"> two-phase flow simulations I ran in the past</a> would quench your thirst? I ran it using the equations I published <a href="https://doi.org/10.1016/j.ijmultiphaseflow.2024.104771">here</a>.
    </li>
    <li>
      Also, I'm teaching myself HTML, css and JS (yes, I know, JavaScript). I'm using this server to practice and you can see my progress <a href="{{ url_for('show_learning_webdev') }}">here</a>.
    </li>
  </ul>
  <h3>Warning</h3>
  This is not by any means the total extent of my adventures, but as I said, the site is under construction (mostly waiting for me to have some free time). I'm not precisely a web developer so, <i>free time = time to code + time to learn web dev stuff</i>.
  <br>
  This does not even have a version number, so you're invited to be patient :D
</body>
</html>