<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pushing through WebDev</title>
  </head>
  <body>
    <h1>Journey through learning WebDev :)</h1>
    <ul>
      <li>
        <a href="{{ url_for('show_learning_webdev_text') }}">Learning how to handle text in HTML</a>.
      </li>
      <li>
        <a href="{{ url_for('show_learning_webdev_links') }}">Learning how to handle links in a website</a>.
      </li>
      <li>
        <a href="{{ url_for('show_learning_webdev_images') }}">Learning how to add images in a website</a>.
      </li>
      <li><a href="{{ url_for('show_learning_webdev_css_intro') }}">Introduction to CSS (things are gonna get colorful!)</a>.</li>
    </ul>
  </body>
  <footer>
    <small>Date of creation: April 28, 2025 at 18:06:13 UTC+2</small>
    <small>Last updated: {{ last_updated }}</small>
</footer>
</html>